@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Syne:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: 'Syne', sans-serif;
  --font-body: 'Inter', sans-serif;

  --color-brand-black: #050505;
  --color-brand-dark-gray: #121212;
  --color-brand-white: #ffffff;
  --color-brand-gray: #888888;

  --color-brand-orange-start: #ff8c00;
  --color-brand-orange-end: #ff4500;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-brand-black text-brand-white font-body antialiased selection:bg-brand-orange-end selection:text-white;
    overflow-x: clip;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
}

@utility text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: transparent;
}

@utility text-gradient {
  @apply bg-linear-to-r from-brand-orange-start to-brand-orange-end bg-clip-text text-transparent;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes vertical-marquee {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@utility animate-vertical-marquee {
  animation: vertical-marquee 40s linear infinite;
}

@utility pause-on-hover {
  &:hover {
    animation-play-state: paused;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-brand-black);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-orange-start);
}

.blob-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.blob-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.blob {
  position: absolute;
  will-change: transform;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.inner-dot {
  position: absolute;
  pointer-events: none;
}